{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-12 col-xl-12">
    <article>
      <h1 class="text-center">{{ .Title }}</h1>
      <div class="px-4">
        <div class="text-center">{{ .Content }}</div>
      </div>
      {{ partial "distortions/categories.html" . }}
      <div>
        Many of these were popularized in David Burns' book "Feeling Good." More recently, Buster Benson did a great job <a href="https://betterhumans.pub/cognitive-bias-cheat-sheet-55a472476b18" target="_blank" rel="noopener noreferrer" >categorizing them</a>. On this page, Casey Watts has taken that work a step farther to make it an easier-to-navigate reference.
      </div>
    </article>
  </div>
</div>
{{ end }}