
        :root {
            --brain-orange: #d26f53;
            --brain-pink: hsl(333, 79%, 60%);
            --brain-blue: #648cc9;
            --brain-blue-dark: #305388;
            --brain-purple: #5f4a9e;
            --brain-background-black: #2d395d;
            --brain-background-blue: #020106;
            --middle-color: var(--brain-blue);
            --edge-color: var(--brain-purple);
            --card-background: #f2f3ff;
            --button-background: purple;
            --pale-blue: hsl(216 48% 95% / 1);
        }