// distortion categories
.distortion-category {
    // background: #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.distortion-category:nth-child(1) h2, .distortion-category:nth-child(1) h3 {
    color: var(--brain-blue);
}
.distortion-category:nth-child(2) h2, .distortion-category:nth-child(2) h3 {
    color:var(--brain-orange);
}
.distortion-category:nth-child(3) h2, .distortion-category:nth-child(3) h3 {
    color:var(--brain-pink);
}
.distortion-category:nth-child(4) h2, .distortion-category:nth-child(4) h3 {
    color:var(--brain-purple);
}



// distortion groups
.distortion-group {
    background: var(--card-background);
    border-radius: 0.5rem;
    // border: 1px solid grey;
    box-shadow: 2px 2px 6px var(--brain-background-black);
    padding: 1rem;
    margin: 0.5rem;
    margin-top: 1.5rem;
}

// .distortion-group:nth-child(1) {
//     filter: brightness(82.5%);
// }
// .distortion-group:nth-child(2) {
//     filter: brightness(85%);
// }
// .distortion-group:nth-child(3) {
//     filter: brightness(87.5%);
// }
// .distortion-group:nth-child(4) {
//     filter: brightness(90%);
// }
// .distortion-group:nth-child(5) {
//     filter: brightness(92.5%);
// }
// .distortion-group:nth-child(6) {
//     filter: brightness(95%);
// }
// .distortion-group:nth-child(7) {
//     filter: brightness(97.5%);
// }

.distortion-group-name {
    display: inline-block;
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
    display: block;
}

// distortions
.distortions-list {
    // text-align: center;
    margin-top: 2rem;
    transition: height 0.66s ease-out;
}

.distortion {
    // background: #fff;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin: auto;
    margin-bottom: 0.3rem;
    // display: inline-block;
    // min-width: 15rem;
    text-align: center;
}


// misc

.show-hide-distortions {
    text-align: center;
    margin-top: 1rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: var(--card-background);
    border: 1px solid grey;
    padding: 1rem;
    border-radius: 10rem;
    z-index: 100;
}
.show-hide-distortions:hover {
    background: #EEE;
}

.toggle-collapse {
    display: inline-block;
}

.flex-container {
    display:flex;
    flex-wrap:wrap;
    // justify-content: space-around;
    // flex: 0 1 1;
    justify-content: center;
}

.flex-item {
    flex-grow: 1;
    // min-width: 300px;
    max-width: 15rem;
}